html {
    height: 100%;
}

body {
    background: url('/media/home-situp.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

.icon-edit{
    background: url('/media/logo.png');    
    background-size: contain;
   
}

.align-bottom{
    margin-top: 50%;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.text-white{
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.nav-item{
    margin-left: 18px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: white;

    /*
    background: url('/media/home-situp.jpg') no-repeat center center ;
    background-size: cover;
    */
    opacity: 0.5;
    z-index: -1;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    
      .header-container, .bag-content-spacing {
          padding-top: 100px;
      }
      .content-spacing{
          padding-top: 200px;
      }
  }

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}