{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container fixed-top">
        <div class="row bg-white">
            <div class="col-12 text-center mt-3">
                <h2 class="logo-font">Plan</h2>
            </div>        
            <hr class="w-50 mb-1">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid content-spacing">
        <div class="row">
            
        </div>
    </div>
{% endblock %}